@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/FblaManager/lists/fbla-tweets?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>