@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title b-r-md">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title b-r-md">
                <h5>My Account</h5>
            </div>
            <div class="ibox-content b-r-md">
                <p>It's how you log in!</p>
                <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                    <span class="fa fa-user-circle-o"></span> Manage Account
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title b-r-md">
                <h5>Useful Links</h5>
            </div>
            <div class="ibox-content b-r-md">
                <a href="https://eahs.eastonsd.org" class="btn btn-default">
                    <span class="fa fa-paw"></span> EAHS
                </a> Easton Area High School
                <br />
                <br />
                <a href="https://www.fbla-pbl.org/" class="btn btn-default">
                    <span class="fa fa-flag"></span> FBLA
                </a> FBLA-PBL
            </div>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title b-r-md">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content b-r-md">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    }
</div>
