@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
    <div class="form-group">
        <a class="btn btn-white btn-bitbucket" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-left"></i> Back to Home</a>
    </div>
</p>
